.select {
    margin: 0;
    padding: 0;
    background: none;
    border: 0;
    color: white;
    font-size: 1rem;
    font-family: inherit;
    cursor: pointer;
    outline: none;
}

.sizeL {
    font-size: 2rem;
}
