.wrap {
    display: inline-block;
}

.label {
    display: inline-block;
    margin-right: 10px;
    color: white;
}

.input {
    margin: 0;
    padding: 0;
    background: none;
    border: 0;
    font-size: 1rem;
    font-family: inherit;
    color: white;
    cursor: pointer;
    outline: none;
}
