.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 550px;
}

.select {
    margin-bottom: 10px;
}

.tooltip {
    padding: 10px 20px;
    background-color: rgba(49, 130, 189, 0.8);
    border-radius: 2px;

    .transaction,
    .balance,
    .date {
        margin: 0;
    }

    .balance {
        font-size: 1.5rem;
    }

    .date {
        margin-bottom: 10px;
    }

    .transaction {
        font-size: 0.85rem;
    }

    .income {
        color: #22b52c;
    }

    .expense {
        color: #ff7f11;
    }
}
