.page {
    color: white;
}

.center {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.spinner,
.chart {
    height: 550px;
    width: 100%;
}

.spinner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.settings {
    margin-top: 10px;
    width: 100%;
    max-width: 800px;
    padding-left: 30px;
}

.control {
    display: inline-block;
    margin-right: 25px;
}

.refresh {
    margin: 0;
    padding: 5px 12px;
    border: 0;
    border-radius: 4px;
    background: none;
    font-family: inherit;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    outline: none;
    border: 1px solid rgba(49, 130, 189, 0.6);

    &:hover {
        border-color: rgba(49, 130, 189, 1);
    }
}
