.terminator {
    color: white;
}

.link {
    color: white;
    font-size: 1rem;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);

    &:hover {
        border-bottom-color: rgba(255, 255, 255, 1);
    }
}
